In [1]:
import pandas as pd

In [2]:
import numpy as np
data=np.array(['P','y','T','H','O','N'])

In [3]:
my_series=pd.Series(data)
print(my_series)

0    P
1    y
2    T
3    H
4    O
5    N
dtype: object

In [4]:
type(my_series)

pandas.core.series.Series

In [5]:
l=[1,2,4,5]
ser=pd.Series(l)
print(ser)

0    1
1    2
2    4
3    5
dtype: int64

Accesing element ofb series

# Using position

In [6]:
ser[:3]

0    1
1    2
2    4
dtype: int64

# Using Label

In [7]:
data=np.array(['P','Y','T','H','O','N','P','R','O','G'])
s=pd.Series(data,index=[10,20,30,40,50,60,70,80,90,100])
print(s[50])

O

# iloc and loc

In [8]:
s.loc[30:70]

30    T
40    H
50    O
60    N
70    P
dtype: object

In [9]:
s.iloc[2:5]

30    T
40    H
50    O
dtype: object

In [14]:
df=pd.read_csv("HR_comma_sep.csv")

In [15]:
df.head

<bound method NDFrame.head of        satisfaction_level  last_evaluation  number_project  \
0                    0.38             0.53               2
1                    0.80             0.86               5
2                    0.11             0.88               7
3                    0.72             0.87               5
4                    0.37             0.52               2
...                   ...              ...             ...
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  left  \
0                       157                   3              0     1
1                       262                   6              0     1
2                       272                   4              0     1
3                       223                   5              0     1
4                       159                   3              0     1
...                     ...                 ...            ...   ...
14994                   151                   3              0     1
14995                   160                   3              0     1
14996                   143                   3              0     1
14997                   280                   4              0     1
14998                   158                   3              0     1

       promotion_last_5years Departments   salary
0                          0        sales     low
1                          0        sales  medium
2                          0        sales  medium
3                          0        sales     low
4                          0        sales     low
...                      ...          ...     ...
14994                      0      support     low
14995                      0      support     low
14996                      0      support     low
14997                      0      support     low
14998                      0      support     low

[14999 rows x 10 columns]>

In [16]:
df.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [17]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Departments ', 'salary'],
      dtype='object')

In [18]:
df.shape

(14999, 10)

In [19]:
df.iloc